.whole{
    /*background-image: url(back-ground.jpg);*/
    background-image: url(https://drop.ndtv.com/albums/COOKS/chicken-dinner/chickendinner_640x480.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
